@charset "UTF-8";

/* Style for printers */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

menu > ul {
    margin-left: 25px;
}